<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <figure>
      <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <a href="/movies"><h1><%= title %></h1></a>
    <p><%= title %></p>
    <h2>Bienvenido</h2>
    <p id="peli">Las mejores pelis estan aca!!</p>
    <main class="hidden-main">
      veo que te has logeado :)
    </main>
    <script src="/js/index.js"></script>
  </body>
 
</html>
