<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Películas ordas por rating</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>
<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1>PEÍCULAS ORDENADAS POR:</h1>
    <div>
        <form action='/movies/recommended/asc' method="GET"> 
            <button type="submit">Peor rating</button>
        </form>
        <form action='/movies/recommended/desc' method="GET"> 
            <button type="submit">Mejor rating</button>
        </form>
    </div>
 
    <ul>
        <% movies.forEach(movie=> { %>
        <li>
            <a href="/movies/detail/<%=movie.id%>"><%= movie.title %> </a> <br>
            <%= 'RATING: ' + movie.rating %> 
        </li>
        <% }) %>
        
    </ul>
</body>
</html>